<div class="ticker-container">
    <div class="ticker-tape">
       <div class="slide-track">

        <div class="slide"><button class="image-button"><img src="/images/connectors/AWSCodeCommit.svg" alt="Image"><span>AWS CodeCommit</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/s3.svg" alt="Image"><span>AWS S3</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/OCI.svg" alt="Image"><span>OCI</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/http.svg" alt="Image"><span>http</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/github.svg" alt="Image"><span>Github</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Tekton.svg" alt="Image"><span>Tekton</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/EventBridge.svg" alt="Image"><span>EventBridge</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/oracle.svg" alt="Image"><span>Oracle</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/mircosoft-Event-Hub.svg" alt="Image"><span>Azure Event Hub</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Google-Cloud-Workflow.svg" alt="Image"><span>Google Cloud Workflow</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/AWSSqs.svg" alt="Image"><span>AWS Sqs</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/IBM-MQ.svg" alt="Image"><span>IBM MQ</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Cloud Event.svg" alt="Image"><span>Cloud Event</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/confluent.svg" alt="Image"><span>Confluent</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Hasura.svg" alt="Image"><span>Hasura</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/webhooks.svg" alt="Image"><span>Webhooks</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/salesforce.svg" alt="Image"><span>Salesforce</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Alibaba-Oss.svg" alt="Image"><span>Alibaba Oss</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/zendesk.svg" alt="Image"><span>Zendesk</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/elasticsearch.svg" alt="Image"><span>Elasticsearch</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/jira.svg" alt="Image"><span>Jira</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Google-Cloud-Firestore.svg" alt="Image"><span>Google Cloud Firestore</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Logzio.svg" alt="Image"><span>Logzio</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/AWSDynamoDb.svg" alt="Image"><span>AWS DynamoDb</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/google sheets.svg" alt="Image"><span>Google Sheets</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/twilio.svg" alt="Image"><span>twilio</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Mongodb.svg" alt="Image"><span>Mongodb</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/azureBlob.svg" alt="Image"><span>Azure Blob</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Azure-Queue-Storage.svg" alt="Image"><span>Azure Queue Storage</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Google-Cloud-Logging.svg" alt="Image"><span>Google Cloud Logging</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Sentinel.svg" alt="Image"><span>Sentinel</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Google-Cloud-Billing.svg" alt="Image"><span>Google Cloud Billing</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/aws-sns.svg" alt="Image"><span>AWS Sns</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Google-Cloud-Pub-Sub.svg" alt="Image"><span>Google Cloud PubSub</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Azure-IOT-Hub.svg" alt="Image"><span>Azure IOT Hub</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Datadog.svg" alt="Image"><span>Datadog</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/apache kafka.svg" alt="Image"><span>Apache Kafka</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Azure-Bus-Queue.svg" alt="Image"><span>Azure Bus Queue</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Azure-Event-Grid.svg" alt="Image"><span>Azure Event Grid</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/AWS-Comprehend.svg" alt="Image"><span>AWS Comprehend</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Splunk.svg" alt="Image"><span>Splunk</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/lambda.svg" alt="Image"><span>AWS Lambda</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Sendgrid.svg" alt="Image"><span>Sendgrid</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/activityLog.svg" alt="Image"><span>ActivityLog</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/slack.svg" alt="Image"><span>Slack</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/AWSKinesis.svg" alt="Image"><span>AWS Kinesis</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Solace.svg" alt="Image"><span>Solace</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/AWS-CloudWatch.svg" alt="Image"><span>AWS CloudWatch</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/Google-Cloud-Storage.svg" alt="Image"><span>Google Cloud Storage</span></button></div>
<div class="slide"><button class="image-button"><img src="/images/connectors/AWSCognitoUserPool.svg" alt="Image"><span>AWS Cognito User Pool</span></button></div>

        
      </div>
    </div>
 </div>






