<div class="container">

  <ul class="nav" id="myTab" role="tablist">
    <li class="nav-item nav-item-button">
      <a class="nav-link home_title_small" id="home-tab" data-toggle="tab" href="#parameters" role="tab"
        aria-controls="home" aria-selected="true">E-COMMERCE</a>
    </li>
    <li class="nav-item nav-item-button">
      <a class="nav-link  home_title_small" id="profile-tab" data-toggle="tab" href="#events" role="tab"
        aria-controls="profile" aria-selected="false">CLOUD OPS</a>
    </li>
    <li class="nav-item nav-item-button">
      <a class="nav-link home_title_small" id="contact-tab" data-toggle="tab" href="#configs" role="tab"
        aria-controls="contact" aria-selected="false">APPLIED AI</a>
    </li>
    <li class="nav-item nav-item-button">
      <a class="nav-link home_title_small" id="contact-tab" data-toggle="tab" href="#logging" role="tab"
        aria-controls="contact" aria-selected="false">LOGISTICS</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="parameters" role="tabpanel" aria-labelledby="home-tab">

      <div class="container">
        <div class="row">
          <div class="col lead text-align-left text-grey">
            <p>
              Imagine an e-commerce platform that wants to gain insights into user behavior, such as products viewed,
              items added to cart, and purchases made. The platform aims to provide real-time analytics to its vendors,
              enabling them to make timely decisions based on current trends.
            </p>

            <p>
              In a conventional system, user actions might be logged to a database or sent to an analytics tool in
              batches. This batch processing can introduce delays, meaning vendors might only get updates every few
              hours or even once a day. Moreover, scaling such systems can be challenging, especially during peak
              shopping times.
            </p>
          </div>
          <div class="col lead text-align-left text-white">

            <p>
              With StreamZero's event-driven approach, every user action on an e-commerce platform, from viewing a
              product to adding it to the cart, triggers a real-time event.
            </p>
            <p>StreamZero captures and processes these events instantly, ensuring scalability as user interactions grow.
            </p>
            <p>This real-time processing allows for immediate insights and reactions, such as updating dashboards or
              sending targeted offers. The system's decoupled nature ensures resilience, and its flexibility allows for
              seamless integration of new features or analytics tools.
            </p>
          </div>
        </div>


      </div>

      <div class="container">
        <p class="text-red text-center lead">
          DEMO COMING SOON : Connecting StreamZero with Shopify.
        </p>
      </div>



    </div>

    <!-- Event Driven Cloud Management -->
    <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="profile-tab">

      <div class="container">
        <div class="row">
          <div class="col lead text-align-left text-grey">
            <p>
              Imagine a company that manages a vast cloud infrastructure, hosting services for multiple clients. They
              need to ensure optimal resource allocation, quick response to issues, and efficient scaling based on
              demand.
            </p>
            <p>
              In a conventional setup, infrastructure monitoring might rely on periodic checks or manual oversight. This
              can lead to delayed responses to issues, underutilized resources, or potential service disruptions during
              high demand.
            </p>
          </div>
          <div class="col lead text-align-left text-white">

            <p>
              StreamZero's event-driven approach to cloud infrastructure management captures real-time events, such as
              traffic spikes or server downtimes.

            </p>
            <p>
              This allows for immediate processing and response, ensuring optimal resource allocation and system health.
              As the infrastructure's complexity and scale grow, StreamZero remains efficient and responsive.
            </p>
            <p>
              The decoupled architecture ensures system resilience, and its flexibility allows for the seamless
              integration of new cloud services or tools.
            </p>





          </div>
        </div>
      </div>

      <div class="container">
        <p class="text-red text-center lead">
          DEMO COMING SOON : Event Enabling Terraform in a Day.
        </p>
      </div>

    </div>

    <div class="tab-pane fade" id="configs" role="tabpanel" aria-labelledby="contact-tab">

      <div class="container">
        <div class="row">
          <div class="col lead text-align-left text-grey">
            <p>Imagine a media company that produces vast amounts of audio and video content daily. To make this content
              accessible and searchable, they rely on transcription services. Integrating AI-supported transcription can
              speed up this process, ensuring content is quickly available with accurate transcriptions.</p>
            <p>
              Traditionally, transcription might be done manually or batch-processed using AI tools, leading to
              potential delays in content availability and a lag in addressing transcription inaccuracies or issues.
            </p>
          </div>
          <div class="col lead text-align-left text-white">

            <p>
              StreamZero's event-driven approach instantly captures and processes audio or video content uploads using
              AI-driven transcription. As content volume grows, StreamZero scales seamlessly.

            </p>
            <p>
              This real-time processing ensures content is transcribed almost immediately, with AI tools flagging
              uncertain segments for manual review.
            </p>
            <p>
              The system's decoupled nature guarantees uninterrupted transcription, even if individual components face
              challenges. Moreover, StreamZero's adaptability allows for the seamless integration of new transcription
              tools, languages, or advanced AI models, ensuring the transcription process remains cutting-edge and
              efficient.
            </p>




          </div>
        </div>
      </div>
      <div class="container">
        <p class="text-red text-center lead">
          DEMO COMING SOON : Build Your Own Scalable AI-Driven Audio Transcription Service.
        </p>
      </div>

    </div>
    <div class="tab-pane fade" id="logging" role="tabpanel" aria-labelledby="contact-tab">

      <div class="container">
        <div class="row">
          <div class="col lead text-align-left text-grey">
            <p>

              Consider a logistics company that wants to provide real-time tracking and updates on shipments for both
              their clients and end customers. This includes updates on package location, estimated delivery times, and
              any potential delays or issues.
            </p>
            <p>
              Traditionally, tracking systems might update at fixed intervals, such as every few hours. This can lead to
              outdated information, causing frustration for customers and inefficiencies for the logistics company.
              Additionally, handling sudden changes, like rerouting due to weather conditions, can be cumbersome.
            </p>


          </div>
          <div class="col lead text-align-left text-white">
            <p class="lead">
              StreamZero expedites logistics tracking by capturing real-time events, such as package scans or truck
              departures.
            </p>
            <p class="lead">
              As the volume of shipments and tracking events increases, StreamZero scales to handle the data, ensuring
              timely updates and interventions.
            <p class="lead">
              This event-driven approach allows for immediate processing, like sending instant delivery notifications or
              rerouting packages based on current conditions. The system's modular design ensures resilience and offers
              flexibility to integrate new logistics features.
            </p>

          </div>
        </div>

      </div>


    </div>

  </div>

</div>








<style>
  .nav-tabs-black {
    background-color: rgba(red, green, blue, 0);
  }

  .nav-item-button {
    background-color: rgba(11, 11, 11, 0);
    color: #000000;
    xborder-radius: .3rem;
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(94, 90, 90);
  }

  .nav-link {
    font-family: dm-sans;
    font-size: 1.0rem;
  }

  .nav-link.active {
    background-color: #000000;
    color: #FF3333;
  }

  .nav-pills {

    xbackground-color: #FF3333;

  }
</style>