<section class="row td-cover-block" style="background-color: #1b1a21">
  <div class="container">
    <footer class="footer-component with-intercom">
      <div class="section-container footer-inner size-medium">
        <div class="content">
          <div class="page-container padding-small-x">
            <div class="margin-component bottom-small-x">
              <nav class="footer-links" role="navigation">
                <!-- Products Section -->
                <ul class="list-component footer-column ul">
                  <li
                    class="list-item-component footer-item footer-item-header"
                  >
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div
                          class="typography-text p2-caps footer-link footer-header inverted"
                        >
                          Products
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a
                            class="link-component footer-link"
                            href="/product#ferris-platform"
                            >Ferris Platform</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a
                            class="link-component footer-link"
                            href="/product#ferris-technology"
                            >Ferris Technology</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- Business Solutions Section -->
                <ul class="list-component footer-column ul">
                  <li
                    class="list-item-component footer-item footer-item-header"
                  >
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div
                          class="typography-text p2-caps footer-link footer-header inverted"
                        >
                          Business Solutions
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a
                            class="link-component footer-link"
                            href="/solutions#solutions-business"
                            >Business Focus</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a
                            class="link-component footer-link"
                            href="/solutions#solutions-it"
                            >IT Strategy</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a
                            rel="noopener noreferrer"
                            class="link-component footer-link"
                            href="https://docs.ferrislabs.net/docs/solutions/"
                            target="_blank"
                            >Use Cases</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- Resources Section -->
                <ul class="list-component footer-column ul">
                  <li
                    class="list-item-component footer-item footer-item-header"
                  >
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div
                          class="typography-text p2-caps footer-link footer-header inverted"
                        >
                          Resources
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a
                            class="link-component footer-link"
                            href="/quickstarter"
                            >Getting Started</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a class="link-component footer-link" href="/sandbox"
                            >Ferris Sandbox</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a class="link-component footer-link" href="/demo"
                            >Request a Demo</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a
                            class="link-component footer-link"
                            href="https://docs.ferrislabs.net/docs/"
                            >Documentation</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a
                            class="link-component footer-link"
                            href="https://www.youtube.com/@ferrislabs"
                            >Videos</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a class="link-component footer-link" href="/support"
                            >Support</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- Company Section -->
                <ul class="list-component footer-column ul">
                  <li
                    class="list-item-component footer-item footer-item-header"
                  >
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div
                          class="typography-text p2-caps footer-link footer-header inverted"
                        >
                          Company
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a class="link-component footer-link" href="/about"
                            >About Us</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a class="link-component footer-link" href="/jobs"
                            >Jobs</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a class="link-component footer-link" href="/partner"
                            >Partners</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a
                            class="link-component footer-link"
                            href="/newsletter"
                            >Newsletter</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-item-component footer-item">
                    <div class="margin-component inner bottom-zero">
                      <div class="list-content-wrapper">
                        <div class="typography-text p2-normal inverted">
                          <a class="link-component footer-link" href="/contact"
                            >Contact Us</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- Social Links and Legal Links will go here -->
                <!-- Implement social icons and legal links as per the first footer -->
                <div class="centering-wrapper social-links">
                  <a
                    rel="noopener noreferrer"
                    class="link-component social-link"
                    href="https://twitter.com/ferrislabs"
                    title="Twitter"
                    target="_blank"
                  >
                    <img src="/icons/footer/twitter-icon.png" alt="Twitter" />
                  </a>
                  <a
                    rel="noopener noreferrer"
                    class="link-component social-link"
                    href="https://www.linkedin.com/company/ferrislabs/"
                    title="LinkedIn"
                    target="_blank"
                  >
                    <img src="/icons/footer/linkedin-icon.png" alt="LinkedIn" />
                  </a>
                  <!-- Additional social links here -->
                </div>
                <div class="centering-wrapper legal-links">
                  <div class="typography-text p2-normal align-center">
                    <span class="copyright"
                      >{{ now.Year}} © FERRIS LABS AG</span
                    >
                    <span> | </span>
                    <br class="br-component mobile" />
                    <a
                      class="link-component legal-link"
                      href="https://docs.ferrislabs.net/docs/privacy_policy/"
                      target="_blank"
                      >Privacy Policy</a
                    >
                    <span> | </span>
                    <a
                      class="link-component legal-link"
                      href="https://docs.ferrislabs.net/docs/data_privacy_policy/"
                      target="_blank"
                      >Data Protection Policy</a
                    >
                    <span> | </span>
                    <a
                      class="link-component legal-link"
                      href="https://docs.ferrislabs.net/docs/terms_conditions/"
                      target="_blank"
                      >Legal Terms and Conditions</a
                    >
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</section>
