
    <link rel="preload" as="image" href="/featured-background_hu06c2eacb1253881bbd9351312b4e08a0_723262_1920x1080_fill_q75_catmullrom_top.jpeg" media="(max-width: 1200px)">
    <link rel="preload" as="image" href="/featured-background_hu06c2eacb1253881bbd9351312b4e08a0_723262_1920x1080_fill_q75_catmullrom_top.jpeg" media="(min-width: 1200px)">
    <style>
    #td-cover-block-0 {
        background-image: url(/featured-background_hu06c2eacb1253881bbd9351312b4e08a0_723262_1920x1080_fill_q75_catmullrom_top.jpeg);
    }
    @media only screen and (min-width: 1200px) {
        #td-cover-block-0 {
            background-image: url(/images/temp/featured-background_6.jpg);
        }
    }
    </style>
    
    
    
    <section id="td-cover-block-0" class="row td-cover-block td-cover-block--height-auto js-td-cover td-overlay xtd-overlay--dark -bg-primary">
      <div class="container td-overlay__inner">
        <div class="row">
          <div class="col-12">
            <div class="text-left">
              
              <h1 class="display-1 mt-0 mt-md-5 pb-4 home_title text-white">AUTOMATE &amp; INTEGRATE EVERYTHING.</h1>
              <div class="col-md-6">
                <p class="display-5   mb-0 text-white">Unleash the power of event-driven microservices to build and operate service flows for data ingestion, machine learning, policy management, cloud auditing, deploy on demand - practically anything. StreamZero empowers you to rapidly develop and manage stream-based applications and microservices.</p>
              </div>
              <div class="pt-3 lead">
                
                    
    
    
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    
    
    
    
    
    
    
    
           
