<link
  rel="preload"
  as="image"
  href="/images/temp/featured-background.jpeg"
  media="(max-width: 1200px)"
/>
<!-- <link
  rel="preload"
  as="image"
  href="/featured-background_hu06c2eacb1253881bbd9351312b4e08a0_723262_1920x1080_fill_q75_catmullrom_top.jpeg"
  media="(min-width: 1200px)"
/> -->
<style>
  #td-cover-block-0 {
    /* background-image: url(/featured-background_hu06c2eacb1253881bbd9351312b4e08a0_723262_1920x1080_fill_q75_catmullrom_top.jpeg); */
    background-image: url(/images/temp/featured-background.jpeg);
    /* background-image: url(/ferris_hero_background.jpeg); */
  }
  @media only screen and (min-width: 1200px) {
    #td-cover-block-0 {
      background-image: url(/images/temp/featured-background_6.jpg);
    }
  }
</style>

<section
  id="td-cover-block-0"
  class="row td-cover-block td-cover-block--height-auto js-td-cover td-overlay xtd-overlay--dark -bg-primary"
>
  <div class="container td-overlay__inner">
    <div class="row">
      <div class="col-12">
        <div class="text-left">
          <h1 class="display-1 mt-0 mt-md-5 pb-4 home_title text-white">
            FERRIS<br />DOCUMENTATION.
          </h1>
          <div class="col-md-6">
            <p class="display-5 mb-0 text-white">
              At Ferris we believe in transparency and shared know how. That
              includes detailed, documentation across the entire platform.
            </p>
            <p class="display-5 mb-0 text-white">
              Leverage our step-by-step guides to get started using Ferris in no
              time.
            </p>
          </div>
          <div class="pt-3 lead">
            <a href="/docs">Ferris Documentation</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
